* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cupid de Locke";
    font-size: 22px;
    font-weight: bold;
}
.header-container {
    padding: 10px 0;
    color: #da598a;
    background-color: #ffeef7;
    display: flex;
    justify-content: center;
}
.header{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-container {
    color: #da598a;
    background-color: #fed6ed;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menu {
    
    /*border: 1px solid #fff; */
    width: 900px;
}
.Title {
    margin-left: 20px;
}
.profile {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer-item {
    border: 1px solid #fff;
    background-color: #d87c97;
    height: 100px;
    flex: 1;
}
.footer-one,
.footer-three {
    color: #da598a;
    background-color: #e798b0;
    flex: initial;
    width: 300px;
    
}
.footer-two {
    color: #da598a;
    background-color: #fed6ed;
    display: flex;
    justify-content: center;
    align-items: center;
}